#div_table
{
    width: 70%;
	height:600px;
	position:absolute;
	top: 70px;
	left:15%;
}
table
{
	width: 100%;
	height:auto;
	position: absolute;
	top: 100px;
	left: 0px;
	background-color:white;
	opacity: 0.8;
}